<h1>Demo#index</h1>

<div class="container">
<p>Find me in app/views/demo/index.html.erb</p>
<p>Find me in app/views/demo/index.html.erb</p>
<p>Find me in app/views/demo/index.html.erb</p>
<p>Find me in app/views/demo/index.html.erb</p>
<p>Find me in app/views/demo/index.html.erb</p>
</div>
