<div class="homepage">
<h2><i>Meeting Room Reservation Application</i></h2>
<div class="home-display">
<div class="home-display-left">
<%= image_tag("meet.png") %>
</div>

<h5>....an application that helps you easily book the meeting room for daily meeting and catch-ups. Keeping in mind the occupancy of the meeting rooms in Data Axle Pune office this app is thoughtfully 
designed to enable users to book a room, make changes to the booking and delete the bookings incase you just don't need the room. 
It helps avoid disturbance caused to the on-going meeting by simply viewing the occupancy of rooms and thereby, booking some other room. This app would provide provisions to update the meeting room count and an extra room just incase you need it. It gives you you an 
simplified user experience to view the booking of rooms, it's capacity and create new booking and room.</h5>
<h5>....an application that helps you easily book the meeting room for daily meeting and catch-ups. Keeping in mind the occupancy of the meeting rooms in Data Axle Pune office this app is thoughtfully 
designed to enable users to book a room, make changes to the booking and delete the bookings incase you just don't need the room. 
It helps avoid disturbance caused to the on-going meeting by simply viewing the occupancy of rooms and thereby, booking some other room. This app would provide provisions to update the meeting room count and an extra room just incase you need it. It gives you you an 
simplified user experience to view the booking of rooms, it's capacity and create new booking and room.</h5>

</div>
</div>
