<div class="row">
  <div class="col-md-4">
    <h1>Edit Reservation</h1>
    <%= render partial: "form", locals: { reservation: @reservation } %>
    <p>
      <%= link_to "Delete", @reservation, method: :delete, data: { confirm: "Are you sure you want to delete this reservation?" } %>
    </p>
  </div>
  <div class="col-md-8">
    <%= add_weekly_calendar(@reservations) %>    
  </div>
</div>